# ==============================
# Virtual Environment
# ==============================
CDWSvenv/
.env/
.env

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Streamlit specific
# ==============================
.streamlit/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/


gcp_credentials.json